html{
  font-size: 10px;
}

body, html{
  height:100%;
  margin:0;
  /*font-size:16px;*/
  font-family:"Marcellus SC", sans-serif;
  font-weight:400;
  line-height:1.8em;
  /*color:#666;*/
}

a {
  text-decoration: none;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  /*opacity:0.70;*/
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  /*background-attachment: scroll;*/
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/light-header-bg.png');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/cool-building.jpg');
  min-height:400px;
  opacity: 0.8;
  /*position: relative;*/
}

.pimg3{
  background-image:url('../img/dog.jpeg');
  min-height:500px;
  opacity: 0.5;
}


.ptext{
  position: absolute;
  /*position: relative;*/
  top:50%;
  width:100%;
  text-align:center;
  /*color:#000;*/
  color:#282e34;
  /*color:#f4f4f4;*/
  /*color:#border-style: dot-dot-dash;*/
  /*font-size:30px;*/
  font-size: 3rem;
  /*letter-spacing:8px;*/
  letter-spacing: .8rem;
  text-transform:uppercase;
  perspective: 500px;
  -webkit-perspective: 500px;
}

.ptext a {
  text-decoration: none;
}


.textured-namebanner {
  position: relative;
  /*width: 25%;*/
  width: 25vw;
  margin: auto;
  font-size: 4rem;
  font-size: 2.5vw;
  /*background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/black-texture.jpg");*/
  background-image: url("../img/black-texture.jpg");
  background-position: center;
  background-size: cover;
  /*box-shadow: 10px 10px 38px -7px rgba(0,0,0,0.75);*/
  /*box-shadow: 17px 14px 75px -2px rgba(0,0,0,0.75);*/
  /*box-shadow: 8px 8px 40px 0px rgba(0,0,0,0.75);*/
  box-shadow: .8rem .8rem 4rem 0rem rgba(0,0,0,0.75);
  /*background-color:#111;*/
  color:#fff;
  /*color: red;*/
  /*padding:20px;*/
  padding: 2rem;
  /*text-shadow: 4px 4px 4px #aaa 
  /*font-weight: 100;*/
  /*font-size: 10rem;*/
  /*letter-spacing: 2px;*/
  animation-name: floating;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: forwards;
  /*border: solid purple 8px;*/
  display: block;
}

.textured-namebanner em {
  /*font-size: 40px;*/
  font-size: 4rem;
  font-size: 2.5vw;
  font-style: normal;
  position: relative;
}

.textured-namebanner:hover {
  color: #0AF535;
  text-decoration: none;
}

.textured-namebanner:before {
  border: 0.2rem solid transparent; 
  border-image-source: url("../img/black-texture.jpg");
  border-image-repeat: repeat;
  border-image-slice: 8;
  border-image-outset: 1;  
  /*border-radius: 0.5rem;*/
  content: '';
  position: absolute;
  top: -0.15rem;
  bottom: -0.15rem;
  left: -0.15rem;
  right: -0.15rem;
  /*transform: translateY(-200%);*/
}

@keyframes floating {
  0%, 50%, 100% {
    transform: rotateY(0);
  }

  25% {
    transform: rotateY(-15deg);
  }

  75% {
    transform: rotateY(15deg);
  }
}


/*  FRONT END DEVELOPER SUBTITLE ======================== */

.subtitle {
  /*margin-top: 50px;*/
  font-style: normal;
  font-size: 1.6vw;
  color: #242926;
  /*text-shadow: 2px 2px 8px #666;*/
  text-shadow: .2rem .2rem .8rem #666;
  /*text-shadow: 2px 2px 4px #000000;*/
  /*text-shadow: 2px 2px 8px;*/
}

/* ======"Front End Developer Subtitle hover effect" ======= */

/*.subtitle em {
  font-style: normal;
}*/

/*.subtitle em:hover {
  font-style: normal;
  position: relative;
  top:10px;
}*/

/*.trigger:hover em {
  top: 10px;
  font-style: normal;
}*/

/*.em-r {
  font-style: normal;
}

.em-r:hover {
  top:10px;
}*/



/*  =================== SECTIONS =================== ======= */

.section{
  text-align:center;
  /*padding:10px 80px;  */
  font-size: 1.6rem;
  padding: 1rem 8rem;
}

#section-one{
  /*background-image:url('../img/keyboard-dark-bg.jpg');*/
  /*background: black;*/
  /*background: #1D211E;*/
  /*background: #242926;*/

  background: rgba(36, 41, 38, 1);
  /*background: rgba(0, 0, 0, 0.74);  */
  /*position: relative;*/
  /*opacity:0.70;*/
  /*background-position:center;*/
  /*background-size:cover;*/
  /*background-repeat:repeat-y;*/
  /*background-color:#666;*/
  color:#f4f4f4;
  /*width:100%;*/
  /*margin: auto;*/
  /*border: 4px solid red;*/
}


.thumbnails {
  /*position: relative;*/

  display: grid;
  grid-gap: 60px;
  /*grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));*/
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 1fr;*/

/*  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 200px 200px;*/
}

.container {
  /*width: 35vw;*/
}


.thumbnail {
  /*position: relative;*/
  /*width: 440px;
  height: 250px;*/

  width: 100%;
  padding-top: 56.25%;
  

/*  width: 44rem;
  height: 25rem; 
  left:10rem;*/
  
}

/*.clearfix::after {
    content: "";
    clear: both;
}*/


#thumbnail-1 {
  background-image: url("../img/Amigos-screenshot1.gif");
  background-size: 100% 100%;
}

#thumbnail-2 {
  background-image: url("../img/Ryte-car-screenshot.gif");
  background-size: 100% 100%;
}


#thumbnail-3 {
  background-image: url("../img/airplane.jpeg");
  background-size: 100% 100%;
}


#thumbnail-4 {
  background-image: url("../img/black-leather.jpg");
  background-size: 100% 100%;
}


.section-dark {
  /*background-image: url("../img/black-texture.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;*/
  background-color:#282e34;
  color:#ddd;
  /*position: relative; */
}


/*  MEDIA QUERIES ======================================  */

@media only screen and (max-width:768px){

  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }

  /*.textured-namebanner {
    width: 60%;
    padding: 10px;
  }*/

  /*.ptext {
    font-size: 18px;
    font-size: 1em;
  }*/

/*  .textured-namebanner em {
    font-size: 25px;
    font-size: 1.25em;
  }*/


}




/* ==== CODE TO REPLICATE SECTION FROM COFFEE TEMPLATE === 

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  /*background-color: rgba(227, 7, 51, 0.81);*/
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
  /*background-image: url("../img/black-texture.jpg");*/
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  width: 800px;
  
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
  /*border: 0.25rem solid red;*/
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  color:#ddd;
  font-family: 'Lora';
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
  color: #ddd;
  font-family: 'Lora';
}


/* =========================================================== */
